@import "./variables";

.lb-added-count-label {
	position: absolute;
	top: 7rem;
	right: var(--lb-popup-padding);
	font-size: 30px;
	font-weight: bold;
	font-family: Pixel, MineCraft, 'Courier New', Courier, monospace;
	text-shadow: 0 0 5px hsla(0deg 0% 80% / 80%);
	color: $color-success;
	animation: spark 2s ease forwards;
}

@keyframes spark {
	0% {
		transform: translateY(0);
		opacity: 0;
	}
	
	10% {
		opacity: 1;
	}
	
	50% {
		transform: translateY(-160%);
		opacity: 1;
	}

	100% {
		transform: translateY(-160%);
		opacity: 0;
	}
}
