.lb-block-button {
	--background-color: transparent;
	--color: var(--highlight-color);
	--border-color: var(--border-color);

	margin-right: 0 !important;

	@media (min-width: 620px) AND (max-width: 698px) {
		margin-right: 6px !important;
	}

	@media (max-width: 621px) {
		margin-right: 3px !important;
	}

	* {
		color: $color-4 !important;
	}

	svg {
		height: 1.2em;
		width: auto;
	}
}
