.lb-info {
	display: inline-block;
	margin-left: 1em;
	height: var(--text-line-height);
	width: var(--text-line-height);
	cursor: help;

	svg {
		display: block;
		height: inherit;
		color: unset;
		fill: currentcolor;
	}
}
