$color-gray: rgb(128 128 128 / 60%);
$color-2: unset;
$color-twitter: #1da1f2;
$color-4: inherit;
$color-success: #559730;
$color-warning: #ec7613;
$color-warning-darker: #653208;
$color-snow: #fff;
$background-color-transparent: transparent;
