@import "../sass-commons/variables";

.ad-block-counter {
	justify-content: flex-end;
	align-items: center;
	display: none;
	
	&.active {
		display: flex;
	}

	&__label {
		margin-right: .6rem;
	}

	&__value {	
		box-shadow: $button-shadow;
	}
}
