.lb-popup {
  position: fixed;
  width: 400px;
  height: 150px;
  top: 100px;
  left: 50%;
  margin-left: -200px;
  border-radius: 25px;
  box-shadow: 0 8px 41px 22px #2f2f2fa3;
  border: 1px solid rgba(120, 120, 120, 0.3);
  padding: 2rem;
  opacity: 0.8;
  transition: opacity ease 500ms;
  filter: none;
}

@keyframes swipe {
  0% {
    transform: translateX(0);
    letter-spacing: 0;
  }
  25% {
    letter-spacing: 10px;
  }
  50% {
    transform: translateX(calc(100% - 2rem));
    letter-spacing: 0;
  }
  75% {
    letter-spacing: 10px;
  }
  100% {
    transform: translateX(0);
    letter-spacing: 0;
  }
}

.lb-loading {
  display: block;
  animation-name: swipe;
  animation-duration: 3s;
  animation-timing-funtion: ease-in-out;
  animation-iteration-count: infinite;
}

.lb-blur {
  filter: blur(3px);
}

.lb-hide {
  opacity: 0;
}

.lb-popup iframe {
  width: 100%;
  height: 90%;
  border: none;
  margin-top: 3rem;
}

.lb-close-button {
  padding: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: inherit;
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  right: 0;
  border-radius: 50%;
  line-height: .5em;
  padding: .5em;
  margin-top: -.5em;
  margin-right: .5em;
  transition: background-color ease 500ms;
}

.lb-close-button:hover {
  background-color: rgba(150, 150, 150, .2);
}

.lb-label h3 {
  margin-top: 0;
}

.lb-block-button {
  margin-right: 10px !important;
  textDecoration: none;
}

@media (max-width: 621px) {
  .lb-block-button {
    margin-right: 3px !important;
  }
}

@media (min-width: 620) AND (max-width: 698px) {
  .lb-block-button {
    margin-right: 6px !important;
  }
}

