@keyframes rainbow {
	0% {
		--hue: 0deg;
	}

	10% {
		--hue: 36deg;
	}

	20% {
		--hue: 72deg;
	}

	30% {
		--hue: 108deg;
	}

	40% {
		--hue: 108deg;
	}

	50% {
		--hue: 180deg;
	}

	60% {
		--hue: 216deg;
	}

	70% {
		--hue: 252deg;
	}

	80% {
		--hue: 288deg;
	}

	90% {
		--hue: 324deg;
	}

	100% {
		--hue: 360deg;
	}
}

.animation-level-slider {
	&__state-icons {
		width: 1.2rem;
		height: 80px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		transition: 500ms;
	}

	&--off {
		.animation-level-slider__state-icons {
			transform: translateY(-37%)
		}

		.setting__value--colored {
			--hue: 0;
		}
	}

	&--mild {
		.animation-level-slider__state-icons {
			transform: translateY(0)
		}

		.setting__value--colored {
			--hue: 100;
		}
	}

	&--frisky {
		.animation-level-slider__state-icons {
			transform: translateY(37%);
		}

		.setting__value--colored {
			animation: rainbow 10s ease infinite;
		}
	}
}
