body {
	@media (prefers-color-scheme: light) {
		--background-color: #fff;
	}

	margin: 0;
	margin-right: 17px;
	font-size: 16px;
	width: 100%;
	max-height: 100%;

	@include large-screen {
		width: 610px;
	}

	// &.select-file {
	// 	* {
	// 		cursor: wait;
	// 	}
	// }
}
