.import-export {
	&__buttons {
		display: flex;
		justify-content: space-between;
	}

	.btn {
		font-size: 16px;
		font-family: $font-family;
	}

	&__include-old {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-bottom: 1em;

		svg {
			margin-left: .5em;
		}
	}
}
