.import-export {
	&__buttons {
		display: flex;
		justify-content: space-between;
	}

	.btn {
		font-size: 16px;
		font-family: $font-family;
	}

	&__include-checkbox {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-bottom: 1em;
	}

	&__status-message {
		--summary-offset: 4px;

		opacity: 0;
		visibility: hidden;
		padding: calc(1rem - var(--summary-offset)) 1rem calc(1rem + 2px) 1rem;
		margin: 1rem 0;
		border-radius: 3px;
		line-height: 1;
		transition: all 500ms ease;

		summary .label {
			display: inline-flex;
			align-items: center;
			transform: translateY(var(--summary-offset));

			svg {
				margin-right: .5em;
			}
		}

		&.success,
		&.error {
			opacity: 1;
			visibility: visible;
			color: #FFF;
		}
		
		&.success {
			background-color: var(--color--success);

			summary::marker {
				content: "";
			}
		}

		&.error {
			background-color: var(--color--error);

			.details {
				margin: 1rem 0;
				font-family: monospace;
			}
		}
	}
}
