@import "../sass-commons/base";
@import "../sass-commons/button";
@import "../sass-commons/icon";
@import "../sass-commons/links";
@import "../sass-commons/import-export";

body {
	height: 350px;
	width: 500px;
	max-width: 100%;
	max-height: 100%;
}
