@mixin button {
	border: 1.5px solid var(--border-color);
	font-size: 16px;
	border-radius: 7px;
	padding: 0.7em;
	margin-right: 0.5em;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: inherit;
	transition: all ease 300ms;
	background-color: $button-background-color;

	&.disabled {
		opacity: .7;
		cursor: default;

		&:hover {
			color: var(--color);
		}
	}

	&:not(.disabled) {
		cursor: pointer;
		
		&:hover {
			background-color: $button-background-color-hover;
			color: var(--color);

			--icon-color: var(--color--twitter-brand);
		}
	}

	&--danger {
		--icon-color: var(--color--error);
		
		&:not(.disabled):hover {
			background: var(--color--error);
			color: var(--color-light);

			--icon-color: currentcolor;
		}
	}

	svg {
		margin-right: 0.5em;
	}
	
	&--icon-only svg {
		margin: 0;
	}

	span + svg {
		margin-left: .5em;
	}

	&--options {
		position: absolute;
		right: 0;

		svg:not(:first-of-type) {
			margin-left: .5rem;
		}
	}
}

.btn {
	@include button;
}
