.instructions {
	&__image-wrapper {
		float: right;
		width: 50%;

		img {
			width: 100%;
		}
	}

	.icon-bulb {
		display: none;
	}

	&[open] {
		summary {
			.icon-bulb {
				display: block;
				color: var(--color--success);
			}
			
			.icon-question {
				display: none;
			}
		}
	}
}
