.stats {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
	position: relative;

	.label__text {
		display: block;
	}

	&__value {
		@include value;

		display: inline-block;
		margin-top: .5rem;
	}

	// &__queue,
	// &__block-list {
		
	// }

	&__queue {
		&.active {
			svg {
				color: var(--color--twitter-brand);
			}
		}
	}

	&__block-list {
		text-align: right;

		&.active {
			svg {
				color: var(--color--brand);
			}
		}
	}
}
