.user-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1em;
	width: 100%;
	font-size: 0.8rem;
	color: var(--color--hover);
	opacity: .9;
}

.user-info__logged-in {
	display: flex;
	align-items: center;
}

.user-info__profile-picture {
	border-radius: 50%;
	margin: 0 .3rem;
}
