.user-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1em;
	width: 100%;
	font-size: 0.8rem;
	color: var(--color--decent);
	opacity: .9;

	&__logged-in {
		display: inline-flex;
		align-items: center;
	}

	&__user-name {
		font-weight: 600;
	}

	&__profile-picture {
		border-radius: 50%;
		margin: 0 .3rem;
	}
}
