:root {
	--navbar-fg-color: #626262;
	--navbar-fg-color--hover: #999;
	--bg-color: #fff;
	--fg-color: #333;
}

@media (prefers-color-scheme: dark) {
	:root {
		--navbar-fg-color: #888888;
		--navbar-fg-color--hover: #ababab;
		--bg-color: #333;
		--fg-color: #ddd;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--navbar-fg-color: #626262;
		--navbar-fg-color--hover: #999;
		--bg-color: #fff;
		--fg-color: #333;
	}
}

body {
	background: var(--bg-color);
	color: var(--fg-color);
	padding-bottom: 2rem;
}

.form-heading-wrapper {
	display: flex;
	align-items: center;
}

.block-button {
	margin-left: 5rem;
}

.block-button[disabled] {
	cursor: default;
	pointer-events: none;
}

.container a[href^="https://api.twitter.com"] button {
	display: block;
	margin-bottom: 2rem;
}

.container {
	max-width: 1000px;
}

main .container:first-of-type {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

nav.navbar .nav-item:last-child {
	align-self: flex-end;
	margin-left: auto;
}

svg.w-6.h-6 {
	width: auto;
	height: 1.2em;
}

.navbar-light .navbar-nav .nav-link {
	display: flex;
	align-items: center;
	transition: color 400ms ease;
	color: var(--navbar-fg-color);
}

.navbar-light .navbar-nav .nav-link:hover {
	color: var(--navbar-fg-color--hover);
}

.navbar .nav-link svg {
	margin-right: 10px;
}

a.nav-link svg {
	transform: scale(1);
	transition: transform 400ms ease;
}

a.nav-link:hover svg {
	transform: scale(1.1);
}

iframe[name="output-frame"] {
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
}

.check-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.form-check {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	transition: all 500ms ease-in-out;
	max-height: 130px;
	position: relative;
	transform-origin: 50% 0;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.form-check[data-exclude="true"] {
	opacity: .5;
	transform: scale(.8);
}

.form-check__input-label-wrapper {
	display: flex;
	justify-content: center;
	width: 100%;
}

.form-check__input {
	width: 1.1em;
	height: 1.1em;
}

.form-check__label {
	max-width: 100px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0 0 0 .5em;
	line-height: 1.1;
	flex-grow: 1;
	cursor: pointer;
}

.form-check__label::after {
	content: "";
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.form-check__profile-picture {
	width: 64px;
	height: 64px;
	font-size: 28pt;
	border-radius: 50%;
	border: 3px solid #999999;
	overflow: hidden;
	position: relative;
	text-align: center;
}

.form-check__profile-picture img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.form-check__profile-picture svg {
	opacity: 0;
	visibility: hidden;
	color: #FF0000AA;
	transition: all 300ms ease-in-out;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.form-check.blocking .form-check__profile-picture img {
	filter: grayscale();
}

.form-check.blocking .form-check__profile-picture svg {
	opacity: 1;
	visibility: visible;
}

.form-check.blocking {
	color: red;
	text-decoration: line-through;
}

.form-check.blocked {
	transform: scaleY(0);
	max-height: 0;
	opacity: .5;
	padding: 0;
	margin: 0;
}

.confirm-message {
	opacity: 0;
	visibility: hidden;
	transition: all 500ms ease-in-out;
	display: flex;
	font-weight: bold;
	font-size: 14pt;
	align-items: center;
	color: #559730;
}

.confirm-message svg {
	margin-right: 1em;
}

body.all-blocked .confirm-message {
	opacity: 1;
	visibility: visible;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #33333377;
	display: flex;
	align-items: center;
	justify-content: center;
}

.overlay__content {
	display: flex;
	align-items: center;
	flex-flow: column;
}

body.all-blocked .overlay {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

@keyframes spinner {
	0% {
		transform: translate3d(-50%, -50%, 0) rotate(0deg);
	}
	100% {
		transform: translate3d(-50%, -50%, 0) rotate(360deg);
	}
}

.spin {
	position: relative;
	width: 40px;
	height: 40px;
}

.spin::before {
	animation: 1.5s linear infinite spinner;
	animation-play-state: inherit;
	border: solid 5px #cfd0d1;
	border-bottom-color: #1c87c9;
	border-radius: 50%;
	content: "";
	height: 40px;
	width: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	will-change: transform;
}
