:root {
	--navbar-fg-color: #626262;
	--navbar-fg-color--hover: #999;
	--bg-color: #fff;
	--fg-color: #333;
}

@media (prefers-color-scheme: dark) {
	:root {
		--navbar-fg-color: #888888;
		--navbar-fg-color--hover: #ababab;
		--bg-color: #333;
		--fg-color: #ddd;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--navbar-fg-color: #626262;
		--navbar-fg-color--hover: #999;
		--bg-color: #fff;
		--fg-color: #333;
	}
}

body {
	background: var(--bg-color);
	color: var(--fg-color);
}

.block-button-wrapper {
	display: flex;
	align-items: center;
}

.container a[href^="https://api.twitter.com"] button
{
	display: block;
	margin-bottom: 2rem;
}

.container {
	max-width: 1000px;
}

main .container {
	margin-top: 30px;
	margin-bottom: 50px;
}

nav.navbar .nav-item:last-child {
	align-self: flex-end;
	margin-left: auto;
}

svg.w-6.h-6 {
	width: auto;
	height: 1.2em;
}

.navbar-light .navbar-nav .nav-link {
	display: flex;
	align-items: center;
	transition: color 400ms ease;
	color: var(--navbar-fg-color);
}

.navbar-light .navbar-nav .nav-link:hover {
	color: var(--navbar-fg-color--hover);
}

.navbar .nav-link svg {
	margin-right: 10px;
}

a.nav-link svg {
	transform: scale(1);
	transition: transform 400ms ease;
}

a.nav-link:hover svg {
	transform: scale(1.1);
}
