body {
  --lb-popup-padding: 2rem;
  --lb-close-button-padding: 9px;
  --text-line-height: 19px;
  --close-button-icon-spacing: 3.75px;
}

.lb-popup-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(80, 80, 80, 0.4);
  transition: opacity ease 500ms;
  z-index: 5000;
}

body.lb-block-page .lb-popup-wrapper {
  position: relative;
  background: transparent;
}

.lb-popup {
  position: fixed;
  width: 440px;
  top: 25%;
  left: 50%;
  margin-left: -220px;
  border-radius: 25px;
  box-shadow: 0 8px 41px 22px #2f2f2fa3;
  border: 1px solid rgba(120, 120, 120, 0.3);
  padding: var(--lb-popup-padding);
  opacity: 0.8;
  filter: none;
  overflow: hidden;
  box-sizing: border-box;
  max-width: 100vw;
  transition: all 500ms ease;
  line-height: var(--text-line-height);
  outline: none;
}

@media (max-width: 440px) {
  .lb-popup {
    margin-left: 0;
    left: 0;
  }
}

.lb-popup.lb-confirm {
  opacity: 1;
}

/* Hide textarea template node */
.lb-popup.lb-confirm .lb-label.lb-confirm-message h3 + div {
  display: none;
}

body.lb-block-page .lb-popup.lb-confirm {
  overflow-y: auto;
  padding-bottom: 2rem;
}

.lb-confirm .lb-loading {
  animation-play-state: paused;
  opacity: 0;
  letter-spacing: 0;
}

#react-root {
  transition: filter ease 500ms;
}

body:not(.lb-block-page) .lb-blur {
  filter: blur(2px);
}

.lb-hide {
  opacity: 0 !important;
}

.lb-close-button {
  border: none;
  padding: var(--lb-close-button-padding);
  cursor: pointer;
  position: absolute;
  right: calc(
    var(--lb-popup-padding) - var(--lb-close-button-padding) -
      var(--close-button-icon-spacing)
  );
  top: calc(
    var(--lb-popup-padding) - var(--lb-close-button-padding) -
      var(--close-button-icon-spacing)
  );
  border-radius: 50%;
  z-index: 5000;
  transition: background-color ease 500ms;
}

body.lb-legacy-twitter .lb-close-button {
  width: 39px;
  height: 39px;
}

.lb-close-button svg {
  width: 1.5em;
  height: 1.5em;
  color: inherit !important;
}

.lb-close-button:not(:hover) {
  background-color: transparent !important;
}

.lb-label {
  transition-property: opacity, margin;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;

  display: block !important;
  opacity: 1;
  position: relative;
}

.lb-label-wrapper,
.lb-label label {
  display: inline-flex;
  align-items: center;
}

.lb-label h3 {
  margin-top: 0;
  margin-bottom: 1em;
  color: inherit;
}

@keyframes swipe {
  0% {
    letter-spacing: -8px;
    transform: translateX(0);
  }
  16% {
    transform: translateX(0);
  }
  50% {
    letter-spacing: 10px;
  }
  100% {
    letter-spacing: -8px;
    transform: translateX(calc(100% - 16px));
  }
}

.lb-loading {
  display: block;
  animation: swipe 1600ms ease-in-out alternate infinite;
  opacity: 1;
  transition: opacity 300ms ease;
}

.lb-checkmark {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: block;
  position: absolute;
  right: 3px;
  bottom: -8px;
  transform: scale(0);
  transition: transform 1000ms cubic-bezier(0.66, 0.47, 0.2, 1.89);
}

.lb-checkmark svg {
  fill: none;
  stroke: white;
  color: transparent !important;
  stroke-width: 8;
  width: 50% !important;
  height: 50% !important;
  margin-top: 25%;
  margin-left: 25%;
}

body.lb-legacy-twitter .lb-checkmark {
  bottom: -9px;
}

.lb-loading-wrapper {
  margin: 1rem 0;
}

.lb-collected .lb-loading {
  opacity: 0;
  animation-play-state: paused;
}

.lb-collected .lb-checkmark {
  transform: scale(1.3);
}

.lb-limit-note {
  display: none;
}

.lb-label.lb-confirm-message {
  display: none !important;
  opacity: 0;
}

.lb-confirm .lb-label.lb-collecting {
  opacity: 0;
}

.lb-confirm .lb-label.lb-confirm-message {
  display: block !important;
  opacity: 1;
}

.lb-block-button {
  margin-right: 0px !important;
}

.lb-btn--export {
  position: absolute;
  top: -2.5rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid #33333333;
  background: white;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  box-shadow: 0 0 5px #00000033;
  opacity: 0.7;
  color: white;
}

.lb-btn--export:hover {
  opacity: 1;
  box-shadow: 0 0 10px #00000077;
}

.lb-copy-button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
}

.lb-copy-button svg {
  width: 1em;
  height: auto;
  margin-right: 0.5em;
}

body.lb-legacy-twitter .lb-block-button {
  margin-left: 68%;
}

.lb-block-button svg {
  height: 1.2em;
  width: auto;
}

.lb-confirm-button {
  position: absolute !important;
  right: 0;
  bottom: 0;
  transform: translateY(200%);
  padding: 0 4em !important;
  text-decoration: none;
  line-height: 1.3rem !important;
}

.lb-textarea {
  width: 100%;
  height: 5rem;
}

.lb-checkbox {
  margin: 0 0.7em 0 0 !important;
}

@media (max-width: 621px) {
  .lb-block-button {
    margin-right: 3px !important;
  }
}

@media (min-width: 620) AND (max-width: 698px) {
  .lb-block-button {
    margin-right: 6px !important;
  }
}

.lb-info {
  display: inline-block;
  margin-left: 1em;
  height: var(--text-line-height);
  width: var(--text-line-height);
  cursor: help;
}

.lb-label .lb-text svg {
  position: relative;
  top: 0.15em;
}

.lb-info svg {
  display: block;
  height: inherit;
}

a[class*="lb-"] {
  background-color: transparent !important;
}
