.lb-popup-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(80, 80, 80, .4);
  transition: opacity ease 500ms;
}

.lb-popup {
  position: fixed;
  width: 440px;
  height: 225px;
  top: 25%;
  left: 50%;
  margin-left: -220px;
  border-radius: 25px;
  box-shadow: 0 8px 41px 22px #2f2f2fa3;
  border: 1px solid rgba(120, 120, 120, 0.3);
  padding: 2rem;
  opacity: 0.8;
  filter: none;
  overflow: hidden;
  box-sizing: border-box;
  max-width: 100vw;
}

@media (max-width: 440px) {
  .lb-popup {
    margin-left: 0;
    left: 0;
  }
}

.lb-popup.lb-confirm {
  opacity: 1;
}

@keyframes swipe {
  0% {
    transform: translateX(0);
    letter-spacing: -8px;
  }
  25% {
    letter-spacing: 10px;
  }
  50% {
    transform: translateX(calc(100% - 2rem));
    letter-spacing: -8px;
  }
  75% {
    letter-spacing: 10px;
  }
  100% {
    transform: translateX(0);
    letter-spacing: -8px;
  }
}

.lb-loading {
  display: block;
  animation-name: swipe;
  animation-duration: 3s;
  animation-timing-funtion: ease-in-out;
  animation-iteration-count: infinite;
  transition: opacity ease 1s;
}

.lb-confirm .lb-loading {
  animation-play-state: paused;
  opacity: 0;
  letter-spacing: 0;
}

#react-root {
  transition: filter ease 500ms;
}

.lb-blur {
  filter: blur(2px);
}

.lb-hide {
  opacity: 0 !important;
}

.lb-close-button {
  width: .5em;
  height: .5em;
  padding: 11px;
  font-size: 2.2rem;
  font-weight: bold;
  color: inherit;
  cursor: pointer;
  position: absolute;
  right: 0;
  border-radius: 50%;
  line-height: 0.5em;
  padding: 0.5em;
  margin-top: -0.5em;
  margin-right: 0.5em;
  z-index: 1000;
  transition: background-color ease 500ms;
}

.lb-close-button:not(:hover) {
 /* background-color: rgba(150, 150, 150, 0.2);*/
  background-color: transparent !important;
}

.lb-label {
  transition-property: opacity, transform;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;

  display: block !important;
  opacity: 1;
}

.lb-label label {
  display: inline-flex;
  align-items: center;
}

.lb-label h3 {
  margin-top: 0;
}

.lb-confirm .lb-label {
  transform: translateY(-180px);
}

.lb-confirm .lb-label:nth-of-type(1) {
  opacity: 0;
}

.lb-confirm .lb-label:nth-of-type(2) {
  opacity: 1;
}

.lb-label:nth-of-type(2) {
  opacity: 0;
}

.lb-block-button {
  margin-right: 0px !important;
}

.lb-confirm-button {
  position: absolute !important;
  right: 0;
  margin-top: 1.2rem !important;
  padding: 0 4em !important;
}

.lb-checkbox {
  margin: 0 0.7em 0 0;
}

@media (max-width: 621px) {
  .lb-block-button {
    margin-right: 3px !important;
  }
}

@media (min-width: 620) AND (max-width: 698px) {
  .lb-block-button {
    margin-right: 6px !important;
  }
}

.lb-info {
  margin-left: 1em;
  padding: 3px;
  cursor: pointer;
}
