body {
  --lb-popup-padding: 2rem;
  --lb-close-button-padding: 9px;
}

.lb-popup-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(80, 80, 80, 0.4);
  transition: opacity ease 500ms;
}

.lb-popup {
  position: fixed;
  width: 440px;
  height: 225px;
  top: 25%;
  left: 50%;
  margin-left: -220px;
  border-radius: 25px;
  box-shadow: 0 8px 41px 22px #2f2f2fa3;
  border: 1px solid rgba(120, 120, 120, 0.3);
  padding: var(--lb-popup-padding);
  opacity: 0.8;
  filter: none;
  overflow: hidden;
  box-sizing: border-box;
  max-width: 100vw;
  transition: opacity 500ms ease;
}

@media (max-width: 440px) {
  .lb-popup {
    margin-left: 0;
    left: 0;
  }
}

.lb-popup.lb-confirm {
  opacity: 1;
}

.lb-confirm .lb-loading {
  animation-play-state: paused;
  opacity: 0;
  letter-spacing: 0;
}

#react-root {
  transition: filter ease 500ms;
}

.lb-blur {
  filter: blur(2px);
}

.lb-hide {
  opacity: 0 !important;
}

.lb-close-button {
  padding: var(--lb-close-button-padding);
  cursor: pointer;
  position: absolute;
  right: calc(var(--lb-popup-padding) - var(--lb-close-button-padding));
  top: calc(var(--lb-popup-padding) - var(--lb-close-button-padding));
  border-radius: 50%;
  z-index: 1000;
  transition: background-color ease 500ms;
}

.lb-close-button svg {
  width: 1.5em;
  height: 1.5em;
}

.lb-close-button:not(:hover) {
  background-color: transparent !important;
}

.lb-label {
  transition-property: opacity, transform;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;

  display: block !important;
  opacity: 1;
  position: relative;
}

.lb-label-wrapper,
.lb-label label {
  display: inline-flex;
  align-items: center;
}

.lb-label h3 {
  margin-top: 0;
}

@keyframes swipe {
  0% {
    letter-spacing: -8px;
    transform: translateX(0);
  }
  16% {
    transform: translateX(0);
  }
  50% {
    letter-spacing: 10px;
  }
  100% {
    letter-spacing: -8px;
    transform: translateX(calc(100% - 16px));
  }
}

.lb-loading {
  display: block;
  animation: swipe 2000ms ease-in-out alternate infinite;
  opacity: 1;
  transition: opacity 300ms ease;
}

.lb-checkmark {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: scale(0);
  transition: transform 1000ms ease;
}

.lb-checkmark svg {
  fill: none;
  stroke: white;
  stroke-width: 8;
  width: 12px !important;
  height: 12px !important;
  margin-top: 6px;
  margin-left: 6px;
}

.lb-collected .lb-loading {
  opacity: 0;
  animation-play-state: paused;
}

.lb-collected .lb-checkmark {
  transform: scale(1.3);
}

.lb-confirm .lb-label {
  transform: translateY(-180px);
}

.lb-label.lb-confirm-message {
  opacity: 0;
}

.lb-confirm .lb-label.lb-collecting {
  opacity: 0;
}

.lb-confirm .lb-label.lb-confirm-message {
  opacity: 1;
}

.lb-block-button {
  margin-right: 0px !important;
}

.lb-confirm-button {
  position: absolute !important;
  right: 0;
  margin-top: 1.2rem !important;
  padding: 0 4em !important;
  text-decoration: none;
}

.lb-checkbox {
  margin: 0 0.7em 0 0;
}

@media (max-width: 621px) {
  .lb-block-button {
    margin-right: 3px !important;
  }
}

@media (min-width: 620) AND (max-width: 698px) {
  .lb-block-button {
    margin-right: 6px !important;
  }
}

.lb-info {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 1em;
  padding: 3px;
  border: 1px solid;
  border-radius: 50%;
  text-align: center;
  font-size: 9px;
  line-height: 9px;
  font-weight: bold;
  cursor: help;
}
