$color-gray: rgba(128, 128, 128, 0.6);
$color_2: unset;
$color-brand: #1da1f2;
$color_4: inherit;
$color-success: #559730;
$color-warning: #ec7613;
$color-warning--darker: #653208;
$color-snow: #ffffff;
$background-color--transparent: transparent;

@keyframes rainbow {
	$i: 0;
	@while ($i < 9) {
		$i: $i + 1;

		#{$i*10}% {
			color: hsl($i * 25, 89%, 53%);
		}
	}

	100% {
		color: hsl(0, 89%, 53%);
	}
}

body {
	--lb-popup-padding: 2rem;
	--lb-close-button-padding: 9px;
	--text-line-height: 19px;
	--close-button-icon-spacing: 3.75px;

	&:not(.lb-block-page) {
		.lb-blur {
			filter: blur(2px);
		}

		.lb-textarea {
			height: 0;
			width: 0;
			margin: 0;
			padding: 0;
			opacity: 0;
		}
	}
}

.lb-popup-wrapper {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(80, 80, 80, 0.4);
	transition: opacity ease 500ms;
	z-index: 5000;
}

body.lb-block-page {
	.lb-popup-wrapper {
		position: relative;
		background: transparent;
	}
}

.lb-popup {
	position: fixed;
	width: 500px;
	height: 275px;
	top: 25%;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 16px;
	box-shadow: 0 8px 41px 22px #2f2f2fa3;
	border: 1px solid rgba(120, 120, 120, 0.3);
	padding: var(--lb-popup-padding);
	padding-bottom: 4.5rem;
	opacity: 0.8;
	filter: none;
	overflow: hidden;
	box-sizing: border-box;
	max-width: 100vw;
	transition: all 500ms ease;
	line-height: var(--text-line-height);
	outline: none;

	@media (max-width: 440px) {
		margin-left: 0;
		left: 0;
		width: 100% !important;
	}

	footer {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		border-top: 1px solid rgba(128, 128, 128, 0.5);
	}

	a {
		&:hover.icon--twitter {
			color: $color-brand;
		}
	}

	&--has-warning {
		.lb-label {
			filter: blur(5px);
		}
	}

	body.many & {
		&.lb-confirm {
			width: 700px;
			top: 150px;
			height: calc(100vh - 440px);

			.lb-confirm-message {
				height: 100%;
			}

			.lb-label__main {
				padding-right: 1rem;
				max-height: calc(100% - 3rem);
				overflow-y: auto;
			}
		}
	}
}

.lb-popup.lb-confirm {
	opacity: 1;
}

.lb-footer {
	&__inner {
		display: flex;
		justify-content: flex-end;
		padding: 0 1.5rem;
		margin: 0.5rem 0;
		list-style: none;
	}

	&__item {
		&:nth-child(1) {
			flex-grow: 1;
		}

		svg {
			height: 1.5rem;
			width: auto;
		}
	}

	&__link {
		display: inline-block;
		transition: all 200ms ease;
		color: $color-gray;
		padding: 0.5rem;
		position: relative;

		&:visited {
			color: $color-gray;
		}

		&:hover {
			color: $color_2;
			transform: scale(1.2);
		}

		&::after {
			content: "";
			width: 8px;
			height: 8px;
			display: none;
			position: absolute;
			background: red;
			border-radius: 50%;
			top: 0.5rem;
			left: 0.5rem;
			opacity: 0.8;
		}

		&--show-badge::after {
			display: inline-block;
		}

		&--new-release {
			opacity: 0;
			visibility: hidden;
			color: $color-warning;

			&:visited {
				color: $color-warning;
			}

			&.sparkle {
				opacity: 1;
				visibility: visible;

				svg path {
					animation: rainbow 15s linear infinite alternate;

					&:nth-child(1) {
						animation-delay: 1s;
					}

					&:nth-child(3) {
						animation-delay: 2s;
					}
				}
			}
		}
	}
}

.lb-divided-msg {
	display: none;
}

body.many {
	.lb-divided-msg {
		display: inline;
	}
}

body.lb-block-page.many {
	.lb-popup.lb-confirm {
		width: 50%;
	}
}

.lb-confirm {
	.lb-finish-button {
		opacity: 0;
		visibility: hidden;
	}

	.lb-label.lb-confirm-message {
		display: block !important;
		opacity: 1;
	}
}

#react-root {
	transition: filter ease 500ms;
}

.lb-hide {
	opacity: 0 !important;
}

.lb-close-button {
	border: none;
	padding: var(--lb-close-button-padding);
	cursor: pointer;
	position: absolute;
	left: calc(
		var(--lb-popup-padding) - var(--lb-close-button-padding) - var(--close-button-icon-spacing)
	);
	top: calc(
		var(--lb-popup-padding) - var(--lb-close-button-padding) - var(--close-button-icon-spacing) - 1px
	);
	border-radius: 50%;
	z-index: 5000;
	transition: background-color ease 500ms;

	svg {
		width: 1.5em;
		height: 1.5em;
		color: $color_4 !important;
	}

	&:not(:hover) {
		background-color: $background-color--transparent !important;
	}
}

body.lb-legacy-twitter {
	.lb-close-button {
		width: 39px;
		height: 39px;
	}

	.lb-block-button {
		margin-left: 68%;
	}
}

.lb-finish-button {
	border: none;
	padding: var(--lb-close-button-padding);
	cursor: pointer;
	position: absolute;
	width: 42px;
	height: 42px;
	right: calc(
		var(--lb-popup-padding) - var(--lb-close-button-padding) - var(--close-button-icon-spacing)
	);
	top: calc(
		var(--lb-popup-padding) - var(--lb-close-button-padding) - var(--close-button-icon-spacing) - 4px
	);
	border-radius: 50%;
	z-index: 5000;
	transition: background-color ease 500ms, opacity ease 1000ms;

	svg {
		width: 1.8em;
		height: 1.8em;
		color: $color_4 !important;
		margin-top: 2px;
		opacity: 1;
		visibility: visible;
		transition: left 300ms ease-in-out, transform 1600ms ease-in-out 300ms,
			opacity 800ms ease-in-out 1200ms, visibility 800ms ease-in-out 1200ms;
		position: absolute;
		top: 6px;
		left: 10px;
		transform-origin: 50% 50%;

		&:nth-child(2) {
			opacity: 0;
			visibility: hidden;
		}
	}

	&:not(:hover) {
		background-color: $background-color--transparent !important;
	}
}

.lb-finish-button--active {
	svg {
		&:nth-child(1) {
			opacity: 0;
			visibility: hidden;
		}

		&:nth-child(2) {
			opacity: 1;
			visibility: visible;
		}

		color: $color-success !important;
		transform: rotate(6turn);
		left: 15px;
	}

	background-color: $background-color--transparent !important;
}

.lb-label {
	transition-property: opacity, margin, visibility, max-height, transform;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
	transform-origin: 0 0;
	display: block !important;
	opacity: 1;
	position: relative;
	max-height: 100%;
	transform: scaleY(1);

	label {
		display: inline-flex;
		align-items: center;
	}

	h3 {
		margin-bottom: 1em;
		color: $color_4;

		&:first-of-type {
			margin-left: 2rem;
		}
	}

	.lb-text {
		svg {
			position: relative;
			top: 0.15em;
		}
	}

	&.lb-collecting {
		h3 {
			margin-top: -5px;
		}

		.lb-confirm & {
			opacity: 0;
			visibility: hidden;
			transform: scaleY(0);
			max-height: 0;
		}
	}

	&.lb-confirm-message {
		display: none !important;
		opacity: 0;

		h3 {
			margin-top: 0;
		}
	}
}

.lb-label-wrapper {
	display: inline-flex;
	align-items: center;
	margin-top: 0.6rem;
}

.lb-checkmark {
	color: currentColor;
	display: block;
	position: absolute;
	right: 5px;
	top: 50%;
	transform: scale(1) translateY(-50%);
	transform-origin: 50% 0;
	opacity: 0;
	transition: opacity 600ms ease-in-out, transform 600ms cubic-bezier(0.66, 0.47, 0.2, 1.89) 400ms;
	width: 1.2rem;
	height: auto;

	.lb-collected & {
		transform: scale(1.2) translateY(-50%);
		opacity: 1;
	}
}

.lb-limit-note {
	display: none;
}

.lb-block-button {
	margin-right: 0 !important;

	@media (min-width: 620px) AND (max-width: 698px) {
		margin-right: 6px !important;
	}

	@media (max-width: 621px) {
		margin-right: 3px !important;
	}

	* {
		color: $color_4 !important;
	}

	svg {
		height: 1.2em;
		width: auto;
	}
}

.lb-confirm-button {
	* {
		color: $color_4 !important;
	}

	position: absolute !important;
	right: 0;
	top: 0;
	padding: 0 4em !important;
	text-decoration: none;
	line-height: 1.3rem !important;
	transition: all 500ms ease-in-out;

	> div > span {
		display: flex;
	}

	svg {
		height: 1rem;
		margin-left: -2.6em;
		position: absolute;
		opacity: 0;
		visibility: hidden;
		transition: all 500ms ease-in-out;
	}

	&--clicked {
		color: $color-success !important;
		border-color: $color-success !important;

		svg {
			opacity: 1;
			visibility: visible;
		}
	}
}

.lb-btn--export {
	position: absolute;
	top: -2.5rem;
	right: 1rem;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	border: 1px solid #33333333;
	background: white;
	transition: all 200ms ease-in-out;
	cursor: pointer;
	box-shadow: 0 0 5px #00000033;
	opacity: 0.7;
	color: $color-snow;

	&:hover {
		opacity: 1;
		box-shadow: 0 0 10px #00000077;
		transform: scale(1.1);
	}

	> svg {
		width: 1.9rem;
		margin-left: -3px;
		margin-bottom: -1px;
	}
}

.lb-copy-wrapper {
	margin-top: 2em;
	position: relative;

	&:last-of-type {
		margin-bottom: 2em;
	}
}

.lb-copy-button {
	background: transparent;
	border: none;
	font-size: 1rem;
	padding: 0;
	margin-left: -5px;
	height: 3em;

	&__label {
		text-align: left;
		line-height: 1em;

		body:not(.lb-block-page) & {
			max-width: 270px;
		}
	}

	&:not([disabled]) {
		cursor: pointer;
	}

	svg {
		height: 1em;
		margin-right: 0.5em;
		transform: translateY(2px);
	}

	&__content {
		display: flex;
		align-items: baseline;
		transition: all 500ms ease-in-out;
		position: absolute;
		top: 0;

		&:first-of-type {
			opacity: 1;
			visibility: visible;
		}

		&:last-of-type {
			opacity: 0;
			visibility: hidden;
		}
	}

	&--active {
		color: $color-success !important;
	}

	&--active &__content {
		&:first-of-type {
			opacity: 0;
			visibility: hidden;
		}

		&:last-of-type {
			opacity: 1;
			visibility: visible;
		}
	}
}

.lb-textarea {
	width: 100%;
	height: 5rem;
}

.lb-checkbox {
	margin: 0 0.7em 0 0 !important;
}

.lb-info {
	display: inline-block;
	margin-left: 1em;
	height: var(--text-line-height);
	width: var(--text-line-height);
	cursor: help;

	svg {
		display: block;
		height: inherit;
		color: $color_2;
		fill: currentColor;
	}
}

@keyframes load {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(91%);
	}
}

.lb-progress-bar {
	width: 100%;
	padding: 1rem 0;
	color: $color-snow;

	&__inner {
		position: relative;
		width: 0;
		min-width: calc(1em);
		display: block;
		border-radius: 4px;
		transition: all 500ms ease-in-out;
		color: currentColor;
		padding: 5px;
		text-align: right;
		white-space: nowrap;

		.lb-block-page .lb-collecting & {
			text-align: center;
			width: 50%;
			animation: load 1200ms ease-in-out infinite alternate;
		}

		.lb-check & {
			min-width: 4rem;
		}
	}

	&__label {
		line-height: 1em;
		font-weight: bold;
		font-size: 1rem;
		transition: transform 500ms ease-in-out;
		transform: translateX(0);
		display: block;

		.lb-block-page & {
			opacity: 0;
			visibility: hidden;
		}

		.lb-check & {
			transform: translateX(-2rem);
		}
	}
}

.lb-warning {
	position: absolute;
	top: 3rem;
	width: 80%;
	left: 6%;
	border-radius: 10px;
	color: $color-warning;
	border: 2px solid $color-warning;
	text-align: center;
	padding: 1.4rem;
	opacity: 0;
	visibility: hidden;
	transition: all 500ms ease-in-out;

	.lb-popup--has-warning & {
		opacity: 1;
		visibility: visible;
	}

	&__heading {
		color: $color-warning;
		margin-top: 0;
		display: flex;
		align-items: center;
		line-height: 1em;

		svg {
			height: 1.2em;
		}
	}

	&__text {
		color: $color-warning;
	}

	&__buttons {
		display: flex;
	}

	&__button {
		color: $color-warning;
		display: block;
		margin: 1em auto 0;
		padding: 6px 1rem;
		border: 1px solid $color-warning;
		border-radius: 14px;
		font-weight: bold;
		font-family: inherit;
		background-color: $background-color--transparent;
	}
}

a[class*="lb-"] {
	background-color: $background-color--transparent !important;
}
